/* @media (max-width: 1024px) {
    #
  }
  @media (max-width: 720px) {
    #
  }
  @media (max-width: 540px) {
    #
  } */

.logo {
width: 50px;
height: 50px;    
}

.maga {
    width: 50px;
    height: 50px;  
}

header {
    position: sticky;
    top: 0;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 1;
    
}

body{
font-family: "releway" sans-serif;
color: #213053;
margin: 0;    
}

.header__logo {
height: 60px;
}

a {
text-decoration: none;
color: #213053    
}

header a {
font-size: 15px;
font-weight: 600; 
margin-right: 25px;   
}

button {
font-family: "releway" sans-serif;
font-size: 15px;
color: #fff;
background-color: #23a030;
border: none;
border-radius: 15px;
cursor: pointer;
box-shadow: 0 16px 36px rgb(52 213 68 / 22%);
padding: 15px;
}

button:hover {
    font-family: "releway" sans-serif;
    color: #fff;
    background-color: #f6980c;
    border: none;
    cursor: pointer;
    box-shadow: 0 16px 36px rgba(246 152 12 / 20%);
    transition: background-color 0.3s ease-in;
    }

.about{
    display: flex;
    justify-content: space-between;  
    align-items:center;
    padding-top: 115px;
    padding-bottom: 115px;
    background: url('img/back.png') no-repeat;
    background-position: center;
    background-size: cover;
}

.about__panel__images {
    width: 500px;
}
.about__sun__images {
    position: absolute;
    width: 100px;
    height: 100px;

}

.about__h1{
    font-size: 70px;
    line-height: 76px;
}

.about__p {
    font-size: 18px;
    line-height: 30px;
    opacity: 0.8;
}

.about__button {
    font-size: 18px;
    border-radius: 20px;
    padding: 20px 25px 20px 25px;
    margin-top: 20px;

    
}
.about__info {
    margin-left: 15px;
    max-width: 550px;

}

.form__container {
    width: 550px;
}

.form__group {
    width: 550px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #1D263A;
    color: white;
    padding-top:115px;
    padding-bottom: 115px;
    text-align: center;
}

.form h1 {
    size: 48px;

}

.form p {
    size: 18px;
    opacity: 0.65;
}

.form__group {
    display: flex;
    flex-direction: column;
    text-align: left;

}

.form label {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;

}

.form input {
font-size: 18px;
color: #213053;
height: 60px;
padding: 0 20px 0 20px;
border-radius: 15px;
border: none;
}

.form select{
    font-size: 18px;
    color: #213053;
    height: 60px;
    padding: 0 20px 0 20px;
    border-radius: 15px;
    border: none;
}

.form__submit {

    font-size: 18px;
    font-weight: 600;
    margin-top: 40px;

}

select {
    appearance: none;
}

input {
    outline: none;
}

footer {
    padding: 90px 20px 90px 20px;
    font-size: 16px;
    font-weight: 600;
}

.footer__group {
display: flex;
justify-content: space-evenly;
}

.footer__group h3 {
 font-size: 16px;
 opacity: 0.7;
 margin-bottom: 30px; 
}

.footer__group div {
    display: flex;
    flex-direction: column;
}

.footer__link a {
   margin-bottom: 15px; 
}

.footer__copyright {
    margin-top: 40px;
    text-align: center;
    opacity: 0.5;
}

@keyframes rotation {
    from { transform: rotate(0deg); }
    to {transform: rotate(360deg); }
}

.about__sun__images:hover {
    animation-name: rotation;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}